@model PHONEBOOK.ENDPOINT.MVC.Models.showDetail_Viewmodel
@{
    ViewData["Title"] = "showDetial";
}

    <div class="text-center">
        <img src="..." class="rounded" alt="...">
    </div>

<div class="form-group row">
    <label asp-for="@Model.FirstName" class="col-2 col-form-label">نام </label>
    <div class="col-10">
        <label asp-for="@Model.FirstName" class="col-2 col-form-label">@Model.FirstName </label>

    </div>
</div>

<div class="form-group row">
    <label asp-for="@Model.LastName" class="col-2 col-form-label">LastName </label>
    <div class="col-10">
        <label asp-for="@Model.LastName" class="col-2 col-form-label">@Model.LastName </label>

    </div>
</div>

<div class="form-group row">
    <label asp-for="@Model.Email" class="col-2 col-form-label">Email </label>
    <div class="col-10">
        <label asp-for="@Model.Email" class="col-2 col-form-label">@Model.Email </label>

    </div>
</div>


<div class="form-group row">
    <label asp-for="@Model.Address" class="col-2 col-form-label">Address </label>
    <div class="col-10">
        <label asp-for="@Model.Address" class="col-2 col-form-label">@Model.Address </label>

    </div>
</div>

<div class="form-group row">
    <label asp-for="@Model.Address" class="col-2 col-form-label">Address </label>
    <div class="col-10">
        <label asp-for="@Model.Address" class="col-2 col-form-label">@Model.Address </label>

    </div>
</div>


